@import '../variables', '../general', '../atomic';

#page-description {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  top: 25px;

  @media (max-width: $mobile-bp) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.nav-menu {
  display: flex;

  @media screen and (max-width: $mobile-bp) {
    flex-direction: column;
  }
}

ul {
  list-style: none;
  padding: 0;
  font-size: 10px;

  li a {
    text-decoration: none;
    color: $dark-gray;
    margin-left: 25px;

    @media screen and (max-width: $mobile-bp) {
      margin-left: 0;
    }

    &:hover {
      color: $white;
    }
  }
}

.logo {
  width: 24px;
  height: 24px;
  display: block;
  align-self: center;
}

.text-logo {
  display: block;
  align-self: center;
  color: $white;
  white-space: nowrap;
}

.site-search {
  height: 25px;
  min-width: 250px;
  background-color: $dark;
  padding: 5px 10px;
  border-radius: 50px;
  border-width: 0;
  text-transform: uppercase;

  @media (max-width: $mobile-bp) {
    margin-left: 0;
  }
}

.form {
  max-width: 570px;
  justify-content: space-between;

  &-input {
    box-sizing: border-box;
    min-width: 270px;
    max-width: 45%;
    min-height: 50px;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: $dark-gray;
    border-radius: 3px;
    background-color: transparent;

    @media (max-width: $mobile-bp) {
      min-width: 100%;
    }

    &::placeholder {
      color: $white;
    }
  }
}

.btn-form {
  width: 100%;
  background-color: $green;
  color: $white;
  border-width: 0;

  @extend .fs-12_8;

  text-transform: uppercase;
}
