@import '../../variables', '../../general', '../../atomic';

#page-description {
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-banner {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

.header {
  position: absolute;
  top: 25px;
  width: 100%;
  max-width: $desktop-bp;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  text-transform: uppercase;
  font-size: 12.8px;

  @media (max-width: $mobile-bp) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header-logo-container {
  color: $white;
  display: flex;
  align-items: center;
  margin-right: 90px;

  @media (max-width: $mobile-bp) {
    margin-bottom: 15px;
  }

  > span {
    margin-left: 16px;
    white-space: nowrap;

    @media (max-width: $mobile-bp) {
      font-weight: bold;
    }
  }
}

.header-menu {
  display: flex;

  @media (max-width: $mobile-bp) {
    flex-direction: column;
    margin-bottom: 15px;
  }

  li {
    padding: 0 12px;

    @media (max-width: $mobile-bp) {
      padding: 0;
    }

    > a {
      color: $dark-gray;
      text-decoration: none;

      @media (max-width: $mobile-bp) {
        font-weight: bold;
      }

      &:hover {
        color: $white;
      }
    }
  }
}

.header-search {
  margin-left: auto;
  height: 25px;
  min-width: 250px;
  background-color: $dark;
  padding: 5px 10px;
  border-radius: 50px;
  border-width: 0;
  text-transform: uppercase;

  @media (max-width: $mobile-bp) {
    margin-left: 0;
    width: 95%;
  }
}

.h1 {
  text-align: center;

  @media (max-width: $mobile-bp) {
    margin-top: 50px;
  }
}

.h2 {
  text-align: center;
}

.banner-offer {
  margin-top: 30px;
  color: $white;
  text-align: center;
  font-size: 16px;

  @media (max-width: $mobile-bp) {
    margin-top: 15px;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
  justify-content: space-between;
  margin: 15px auto;

  &-input {
    box-sizing: border-box;
    min-width: 270px;
    max-width: 45%;
    min-height: 50px;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: $dark-gray;
    border-radius: 3px;
    background-color: transparent;
    font-weight: bold;

    @media (max-width: $mobile-bp) {
      min-width: 100%;
    }

    &::placeholder {
      color: $white;
    }
  }
}

.btn-form {
  width: 100%;
  background-color: $green;
  color: $white;
  border-width: 0;
}
