/* -- Colors -- */
/* -- Breakpoints -- */
/* -- Font Size-- */
/* -- Colors -- */
/* -- Breakpoints -- */
/* -- Font Size-- */
@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
/* -- Colors -- */
/* -- Breakpoints -- */
/* -- Font Size-- */
h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 414px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.flex, .flex-column {
  display: flex;
}

.flex-mobile {
  display: flex;
}
@media (max-width: 414px) {
  .flex-mobile {
    flex-direction: column;
  }
}

.flex-column {
  flex-direction: column;
  align-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
  text-align: center;
}

.container {
  margin: 0 auto;
}
@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 414px) {
  .container {
    padding: 0 20px;
  }
}

.relative {
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: #fff;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
}

/* -- Font Size-- */
.fs-64 {
  font-size: 64px;
}

.fs-56 {
  font-size: 56px;
}

.fs-48 {
  font-size: 48px;
}

.fs-40 {
  font-size: 40px;
}

.fs-32 {
  font-size: 32px;
}

.fs-24 {
  font-size: 24px;
}

.fs-16 {
  font-size: 16px;
}

.fs-12_8, .btn-form {
  font-size: 12.8px;
}

/* -- Margin -- */
/* m-top */
.mt-12 {
  margin-top: 12px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-225 {
  margin-top: 225px;
}

/* m-bottom */
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

/* m-right */
.mr-20 {
  margin-right: 30px;
}

.mr-30 {
  margin-right: 30px;
}

/* m-left */
.ml-15 {
  margin-left: 15px;
}

.ml-25 {
  margin-left: 25px;
}

/* -- Padding -- */
.pa-24 {
  padding: 24px;
}

/* p-top */
.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

/* p-bottom */
.pb-24 {
  padding-bottom: 24px;
}

.pb-100 {
  padding-bottom: 100px;
}

/* -- Colors -- */
/* -- Breakpoints -- */
/* -- Font Size-- */
/* -- Colors -- */
/* -- Breakpoints -- */
/* -- Font Size-- */
h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 414px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.flex, .flex-column {
  display: flex;
}

.flex-mobile {
  display: flex;
}
@media (max-width: 414px) {
  .flex-mobile {
    flex-direction: column;
  }
}

.flex-column {
  flex-direction: column;
  align-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
  text-align: center;
}

.container {
  margin: 0 auto;
}
@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 414px) {
  .container {
    padding: 0 20px;
  }
}

.relative {
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: #fff;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
}

/* -- Font Size-- */
.fs-64 {
  font-size: 64px;
}

.fs-56 {
  font-size: 56px;
}

.fs-48 {
  font-size: 48px;
}

.fs-40 {
  font-size: 40px;
}

.fs-32 {
  font-size: 32px;
}

.fs-24 {
  font-size: 24px;
}

.fs-16 {
  font-size: 16px;
}

.fs-12_8, .btn-form {
  font-size: 12.8px;
}

/* -- Margin -- */
/* m-top */
.mt-12 {
  margin-top: 12px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-225 {
  margin-top: 225px;
}

/* m-bottom */
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

/* m-right */
.mr-20 {
  margin-right: 30px;
}

.mr-30 {
  margin-right: 30px;
}

/* m-left */
.ml-15 {
  margin-left: 15px;
}

.ml-25 {
  margin-left: 25px;
}

/* -- Padding -- */
.pa-24 {
  padding: 24px;
}

/* p-top */
.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

/* p-bottom */
.pb-24 {
  padding-bottom: 24px;
}

.pb-100 {
  padding-bottom: 100px;
}

#page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  top: 25px;
}
@media (max-width: 414px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.nav-menu {
  display: flex;
}
@media screen and (max-width: 414px) {
  .nav-menu {
    flex-direction: column;
  }
}

ul {
  list-style: none;
  padding: 0;
  font-size: 10px;
}
ul li a {
  text-decoration: none;
  color: #cacaca;
  margin-left: 25px;
}
@media screen and (max-width: 414px) {
  ul li a {
    margin-left: 0;
  }
}
ul li a:hover {
  color: #fff;
}

.logo {
  width: 24px;
  height: 24px;
  display: block;
  align-self: center;
}

.text-logo {
  display: block;
  align-self: center;
  color: #fff;
  white-space: nowrap;
}

.site-search {
  height: 25px;
  min-width: 250px;
  background-color: #3c3b3d;
  padding: 5px 10px;
  border-radius: 50px;
  border-width: 0;
  text-transform: uppercase;
}
@media (max-width: 414px) {
  .site-search {
    margin-left: 0;
  }
}

.form {
  max-width: 570px;
  justify-content: space-between;
}
.form-input {
  box-sizing: border-box;
  min-width: 270px;
  max-width: 45%;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: #cacaca;
  border-radius: 3px;
  background-color: transparent;
}
@media (max-width: 414px) {
  .form-input {
    min-width: 100%;
  }
}
.form-input::placeholder {
  color: #fff;
}

.btn-form {
  width: 100%;
  background-color: #34c176;
  color: #fff;
  border-width: 0;
  text-transform: uppercase;
}

:root {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

/*# sourceMappingURL=style.css.map */
