@import 'reset', 'variables', 'fonts', 'general', 'atomic' ,'sections/page-description', 'sections/page-pricing.scss', 'sections/page-news.scss', 'sections/page-app.scss', 'sections/footer.scss';

html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $dark-gray;
  background-color: $black;
  overflow-x: hidden;
}
