@import 'variables';

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;

  @media screen and (max-width: $mobile-bp) {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;

  @media all and (max-width: $mobile-bp) {
    font-size: 18px;
    line-height: 27px;
    color: $orange;
  }
}

.flex {
  display: flex;
}

.flex-mobile {
  display: flex;

  @media (max-width: $mobile-bp) {
    flex-direction: column;
  }
}

.flex-column {
  @extend .flex;

  flex-direction: column;
  align-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.container {
  margin: 0 auto;

  @media (min-width: $desktop-bp) {
    max-width: 1200px;
  }

  @media (max-width: $mobile-bp) {
    margin: 0 20px;
  }
}

.relative {
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: $white;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
}
