@import 'variables';

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  @media screen and (max-width: $mobile-bp) {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  @media all and (max-width: $mobile-bp) {
    font-size: 18px;
    line-height: 27px;
    color: $orange;
  }
}

.flex {
  display: flex;
}

.flex-column {
  @extend .flex;

  flex-direction: column;
  align-content: center;
}
