@import 'variables', 'general';

#page-description {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

.container {
  margin: 0 auto;

  @media (min-width: $desktop-bp) {
    max-width: 1200px;
  }
}

.header {
  position: absolute;
}
