/* -- Colors -- */
$black: #08020d;
$gray: #08020d;
$dark-gray: #cacaca;
$dark: #3c3b3d;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
$white: #fff;

/* -- Breakpoints -- */
$mobile-bp: 414px;
$desktop-bp: 1240px;

/* -- Font Size-- */
$ts-64: 64px;
$ts-56: 56px;
$ts-48: 48px;
$ts-40: 40px;
$ts-32: 32px;
$ts-24: 24px;
$ts-16: 16px;
$ts-12_8: 12.8px;
