/* -- Colors -- */
$black: #08020d;
$gray: #08020d;
$dark-gray: #cacaca;
$dark: #3c3b3d;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
$white: #fff;

/* -- Media Breakpoints -- */
$mobile-bp: 414px;
$desktop-bp: 1240px;
