@import '../../variables', '../../general', '../../atomic';

#page-discography {
  padding-top: 100px;
}

.discography-item {
  margin-bottom: 25px;
  color: $white;
  margin-right: 50px;

  &:nth-child(even) {
    @media (max-width: $mobile-bp) {
      margin-right: 0;
    }
  }

  img {
    width: 250px;
    height: 250px;

    @media (max-width: $mobile-bp) {
      width: 137px;
      height: 137px;
    }
  }
}

.discography-info h4 {
  text-transform: none;
}
